*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
/*body font*/
body {
  font-family: 'segoe ui light';
}

.name
{
  font-family: 'Orbitron', sans-serif;
}

/* start of loading icon*/
.sk-cube-grid 
{
  width: 60px;
  height: 50px;
  margin: 350px auto;
}
.sk-cube-grid .sk-cube
 {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
/* end of loading icon*/


/*start loading screen*/
#loading
{
  position: fixed;
  top :0 ;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  z-index: 999999999999999;
}
/*end of loading screen*/


/*start of navbar data*/
.img-logo { width: 90%; }
.navbar-brand 
{
  width: 7%;
  margin: 0;
}
.navbar-collapse ul
{
  font-size: 20px;
}
/*adding transition*/
/**/
/*end of navbar data*/


/*start of header data (home section)*/
#headerData
{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}
/*end of header data (home section)*/



.s1 {
  background-image: url(../Images/albert-dera-le-Y0K_q1TY-unsplash.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  background-attachment: fixed;
}


#fp-nav ul li a span 
{
  background:  rgb(46, 42, 42) !important;
  opacity: 0.6;
  color: #EB6666;
}


#aboutMe
{
  
}



#aboutMeData h2 span:nth-child(1)::before
{
  content: "B";
  color: #EB6666;
  font-size: 1.6em;
  font-weight: 700;
}

#aboutMeData h2 span:nth-child(2)::before
{
  content: "E";
  color: #EB6666;
  font-size: 1.6em;
  font-weight: 700;
}



/*start of contact section*/
#contactTitle h1 span:first-child::before
{
  content: "F";
  color: #EB6666;
  font-size: 1.6em;
  font-weight: 700;
}

#contactTitle h1 span:last-child:after
{
  content: "?";
  color: #EB6666;
  font-size: 1.29em;
  font-weight: 700;
}




.contact-data p a
{
  text-decoration: none;
  color: inherit;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.contact-data p a:hover
{
  color: rgb(25, 161, 199);
}


/*social icons*/
.social-data li
{
  display: inline;

}
.social-data li a
{
  color: rgb(47, 47, 47);
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.social-data li a i
{
  font-size: 30px;
  margin-right: 10px;
}


.social-data li a:first-child:hover
{
  color: #EB6666;
}
/*end of contact section*/



/*start of footer*/
footer
{
  border-top: solid 1px #EB6666;
}
footer p
{}
/*end of footer*/




/*thank you page*/
#thankyou
{
  position: relative;
}
.thanksImg
{
width: 90%;
}
.thanksData
{

}
/*end of thank you page*/







/*start of mediaquery*/






/*end of mediaquery*/