h1 {
  font-family: 'segoe ui light';
}

.s1 {
  background-image: url(../Images/albert-dera-le-Y0K_q1TY-unsplash.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.s2 {
  background-image: url(../Images/project\ 1.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.s3 {
  background-image: url(../Images/project\ 3.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.s4 {
  background-image: url(../Images/project\ 4.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

span
{
  background: #fff !important;
  opacity: 0.6;
}
/*thank you page*/
#thankyou
{
  background-color: #fcff2d;
}