


h1
{
    font-family: 'segoe ui light';
}

.s1
{
    background-image: url(../Images/albert-dera-le-Y0K_q1TY-unsplash.jpg);
    background-size: cover;
    color: #fff;
}

.s1
{
    background-image: url(../Images/albert-dera-le-Y0K_q1TY-unsplash.jpg);
    background-size: cover;
    color: #fff;
}

.s1
{
    background-image: url(../Images/albert-dera-le-Y0K_q1TY-unsplash.jpg);
    background-size: cover;
    color: #fff;
}

.s1
{
    background-image: url(../Images/albert-dera-le-Y0K_q1TY-unsplash.jpg);
    background-size: cover;
    color: #fff;
}